/* ----------------------
----------header style--------- 
--------------------------*/
h1{
    font-size: 50px;
    font-weight: bold;
}
#header{
    background-color: #264653;
    /* height: 100vh; */
    overflow: hidden;
}
.primary-btn{
    background-color: #E76F51;
    color:#fff;
    /* font-weight: bold; */
    transition: .3s;
}
.primary-btn:hover{
    background-color: #fa8d72;
    color: #fff;
}
#header .nav-link{
    color:#fff;
    margin-left:20px;
    transition:.3s;
}
#header .nav-link:hover{
    color:#E76F51;
}
.banner-left p{
    color:#E0E0E0;
    font-size: 17px;
}